body {
    font-family: monospace;
    background-color: #333;
    color: #000000;
    /* line-height: 1.2; */
    overflow-y: scroll;

}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

h1,
h2,
h3 {
    text-align: center;
    color: #005f73;
    text-decoration: none;
    user-select: none;
}


.btn-containers {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;

}

.btn-containers button:nth-last-child(1) {
    margin-left: auto;
}

.btn-caja {
    padding: 0.5rem;
    background-color: #005f73;
    color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-caja:hover {
    transform: translate3d(0, -5px, 0);
    background-color: #f2f2f2;
    color: #005f73;
    border-color: #005f73;
    cursor: pointer;
}


table {
    border-collapse: collapse;
}

table td,
th {
    padding: 0.3rem;
    color: #333;
}

.table,
tr,
td,
th {
    border: 2px solid #005f73;
    text-align: start;
}

ul li {
    margin-top: 1rem;
}

.cursor-p {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cursor-p:hover {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* HACIENDO VALIDACIONES DE CHECKED */
#foreach-container {
    display: none;
    opacity: 0;

}

#foreach:checked~#foreach-container {
    display: block;
    opacity: 1;
}

#map-container {
    display: none;
    opacity: 0;

}

#map:checked~#map-container {
    display: block;
    opacity: 1;
}

#filter-container {
    display: none;
    opacity: 0;

}

#filter:checked~#filter-container {
    display: block;
    opacity: 1;
}

/* Syntax Highlighting */
.keyword {
    color: #ff79c6;
    /* Pink/Purple for keywords like const, let, function, return */
    font-weight: bold;
}

.function {
    color: #8be9fd;
    /* Cyan for function names */
}

.property {
    color: #e7961c;
    /* Orange for property names */
}

.comment {
    color: #6a9955;
    /* Green for comments */
}