  body {
            font-family: 'Roboto', sans-serif;
            background-color: #585a66;
            margin: 0;
            padding: 20px;
        }

        h1, h2, h3 {
            text-align: center;
            color: #000000;
        }

        h1 {
            font-size: 36px;
            text-decoration: underline;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 24px;
            text-decoration: underline;
            margin-top: 20px;
            margin-bottom: 10px;
            color: #252424;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #333;
        }

        .caja {
            background-color: #ffffff;
            border: 2px solid #dfcc25;
            border-radius: 12px;
            padding: 20px;
            max-width: 900px;
            margin: 20px auto;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
       button {
            background-color: #0a9396;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }
          button.limpiar {
            float: right;
            background-color: #0a9396;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            ;
        }

          button:hover {
            background-color: #585a66;
        }
          button.limpiar:hover {
            display: flex;
            justify-content: flex-end;
            background-color: #585a66;
        }

     

       