body {
    font-family: monospace;
    background-color: #333;
    color: #000000;
    /* line-height: 1.2; */
    overflow-y: scroll;

}

h1,
h2,
h3 {
    text-align: center;
    color: #005f73;
    text-decoration: none;
    user-select: none;
}




.btn-caja {
    padding: 0.5rem;
    background-color: #005f73;
    color: #f2f2f2;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-caja:hover {
    transform: translate3d(0, -5px, 0);
    background-color: #f2f2f2;
    color: #005f73;
    border-color: #005f73;
    cursor: pointer;
}




table {
    border-collapse: collapse;
}

table td,
th {
    padding: 0.3rem;
    color: #333;
}

.table,
tr,
td,
th {
    border: 2px solid #005f73;
    text-align: start;
}

ul li {
    margin-top: 1rem;
}

.cursor-p {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cursor-p:hover {
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* HACIENDO VALIDACIONES DE CHECKED */
#tp-dinamico-container {
    display: none;
    opacity: 0;

}

#tp-dinamico:checked~#tp-dinamico-container {
    display: block;
    opacity: 1;
}

#tipado-container {
    display: none;
    opacity: 0;

}

#tipado-ts:checked~#tipado-container {
    display: block;
    opacity: 1;
}

#scope-container {
    display: none;
    opacity: 0;

}

#scope:checked~#scope-container {
    display: block;
    opacity: 1;
}